<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Course | <%= title %></title>
</head>
<body>
    
    <nav>
        <div class="site-title">
        <a href="/"><h1>Blog</h1></a>
        <p>A New Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis voluptatum ad praesentium labore minima nostrum doloremque exercitationem quod asperiores! Non assumenda enim, odio quaerat voluptas ipsam corrupti esse natus inventore?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum minima suscipit nihil magni illo eligendi maxime deleniti iure dolor velit architecto cupiditate quam veritatis quis blanditiis delectus provident, eaque consectetur.</p>

    </div>
</body>
</html>