<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis voluptatum ad praesentium labore minima nostrum doloremque exercitationem quod asperiores! Non assumenda enim, odio quaerat voluptas ipsam corrupti esse natus inventore?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum minima suscipit nihil magni illo eligendi maxime deleniti iure dolor velit architecto cupiditate quam veritatis quis blanditiis delectus provident, eaque consectetur.</p>

    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>